body {
	background-color: #fff;
	margin: 0px auto;
	width: 900px;
	font-family: "Times New Roman";
	}

header {
	position: relative;
	height:300px
	width:auto; 
	}

#banner {
	position: absolute;
	height:300px;
	width:900px;
	z-index: -10;
	}

#logo{
	margin: 20px 0px 0px 400px;
	width: 100px;
	height: auto;
	z-index: 10;
	}


nav {
	text-align: center;
	padding: 10px 0px;
	background-color: #230B03;
	color: #CEBB99;
	text-transform: lowercase;
	word-spacing: 3em;
	}

section{
	padding: 30px 30px;
	background-color: #fff;
	}

article {
	color: #230B03;
	width: 300px;
	text-align: center;
	}

h3 {
	text-transform: capitalize;
	}

#one {
	float: left;
	margin-left: 100px;
	}

#two{
	float: right;
	margin-right: 100px;
	}


footer {
	background-color: #230B03;
	color: #CEBB99;
	padding: 15px;
	text-align: center;
	margin-bottom: 15px;
	clear: both;
	}