body {
	background-color: #fff;
	margin: 0px auto;
	width: 960px;
	font-family: "Times New Roman";
	}

header {
	position: relative;
	height:400px
	width:auto; 
	}

#banner {
	position: absolute;
	height:400px;
	width:960px;
	z-index: -10;
	}

#logo{
	margin: 20px 0px 0px 400px;
	width: 100px;
	height: auto;
	z-index: 10;
	}


nav {
	text-align: center;
	padding: 10px 0px;
	background-color: #230B03;
	color: #CEBB99;
	text-transform: lowercase;
	word-spacing: 3em;
	}

section{
	padding: 30px 0px;
	background-color: #fff;
	}

article {
	background-color: white;
	color: #230B03;
	}

h3 {
	text-transform: capitalize;
	}

footer {
	background-color: #230B03;
	color: #CEBB99;
	padding: 15px;
	text-align: center;
	margin-bottom: 15px;
	clear: both;
	}